.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: var(--transition);
  background: transparent;
}

.scrolled {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Container central */
.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  z-index: 1001;
  justify-content: space-between;
}

/* Logo */
.logo img {
  width: 70px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: scale(1.05);
}

/* Navegação desktop */
.nav {
  display: flex;
  gap: 2rem;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--color-primary);
  transition: width 0.3s ease;
}

.link:hover {
  color: var(--color-primary-dark);
}

.link:hover::after {
  width: 100%;
}

/* Ícone do menu mobile */
.menuButton {
  display: none;
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1002;
}

/* Menu mobile */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 300px;
  background: #fffbea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  transition: right 0.4s ease;
  z-index: 99;
}

.mobileMenu.open {
  right: 0;
}

.mobileMenu a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0 1rem 2rem;
  width: 90%;
  transition: color 0.3s ease;
}

.mobileMenu a:hover {
  background-color: var(--color-primary);
  /* color: var(--color-primary-dark); */
}

/* Responsividade */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .menuButton {
    display: block;
  }
}
