/* .carouselSection {
  text-align: center;
}

.title {
  font-size: var(--font-size-subtitle);
  font-weight: 700;
  color: var(--color-accent);
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #555;
  font-size: var(--font-size-text);
  margin-bottom: 2rem;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: var(--color-primary);
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary-dark);
  opacity: 1;
} */
